@using FrontEnd.Areas.Employees.Controllers;
@using ClassLibrary.DatabaseModels;

@model  Error
@{
    ViewBag.Title = "Error";    
}

<title>@ViewBag.title</title>
<h5>@ViewBag.title</h5>
<p>@Model.message</p>
@section script
    {

}
