

<div class="modal-content modal" id="modal-message">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-message-title"></h4>
    </div>
    <div class="modal-body">
        <p id="modal-message-body"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">Close</button>
    </div>
</div>