<div class="navbar navbar-default navbar-fixed-top custom-navbar">
    <div class=".content-panel-fluid">
        <!-- Navigation Header -->
        </div>
        <!-- navigation body -->

        <!-- User Details -->
        <div id="LoginInfo">
            Employee management
        </div>


    </div>
</div>
