.items {
}

.item {
    width: 250px;
    list-style-type: none;
    margin: 5px;
}

.custom-panel {
    margin: 5px;
}

.item img {
}

.item .panel-heading {
    background-color: white !important;
}

.shopping-cart {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.custom-navbar-links {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #455A64 !important;
    color: white !important;
}

.shopping-cart i {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
}

.item .description {
}

.item .price {
    font-weight: bold;
    display: inline-block;
    background-color: lightgreen;
    float: right;
    font-size: large;
    padding: 5px;
    border-radius: 2px;
}

.item .discounted-price {
    text-decoration: line-through;
}

.clear {
    clear: both;
}

.items-panel {
    margin-top: 60px !important;
}

    .items-panel .panel-heading {
        background-color: #fdfdfd !important;
    }

.custom-navbar {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.20), 0 5px 10px rgba(0,0,0,0.22);
}

.add-to-cart {
    width: 45%;
    float: right;
    white-space: normal;
    padding: 5px;
}

.add-to-retail-cart {
    width: 90%;
    float: right;
    white-space: normal;
    padding: 5px;
}

.add-to-quote {
    width: 45%;
    float: left;
    white-space: normal;
    padding: 5px;
}

.content-panel {
}

    .content-panel .panel-heading {
        background-color: #fdfdfd !important;
    }

.sub-content-panel {
}

.treeview:hover li > a {
    background-color: #eee;
}

.treeview:hover a {
    text-decoration: none;
    background-color: grey;
}
/*.treeview:hover .treeview-menu {
    display: block;
}*/

.show-menu {
    display: block !important;
    background-color: #eee;
}

.hide-menu {
    display: none;
}

.menu-opened {
    text-decoration: none;
    background-color: grey;
}

.sub-menu-item-active {
    text-decoration: none;
    background-color: lightgray !important;
}

.treeview {
    display: block;
}
    /*.treeview:hover ul {
    display: block;
}*/
    .treeview ul {
        display: none;
    }

    .treeview a {
        text-decoration: none;
    }

.custom-side-nav {
    margin-top: 60px;
}

.custom-label {
    color: black !important;
    padding-top: 6%;
    bottom:0; 
}

.custom-text-box {
    background-color: #eee !important;
}

li.active {
    background-color: black;
}


form#my-awesome-dropzone {
    margin: 10px;
    /*height: 200px;*/
    background-color: #eee;
    border: 2px dashed blue;
}

.upload-button {
    padding-left: 15px;
    margin-top: 18px;
    padding-right: 15px;
}

/*from code pen*/
.cs-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    opacity: 0.8;
    background-color: #000;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    padding: 0 100px;
    text-align: center;
}

    .cs-loader-inner label {
        font-size: 20px;
        opacity: 0;
        display: inline-block;
        color: white;
    }

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}
/**/

body{
    background-color :rgba(93, 117, 93, 0.55)!important;
}
.container {
    margin-top: 60px;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.opt-grid {
    min-height: 150px;
    min-width: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
}

.col-md-12.opt-grid p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.col-md-12.opt-grid i {
    font-size: 60px;
    margin-top: 5px;
}

.emarald {
    background: #2ecc71;
}

.blue {
    background: #3498db;
}

.purple {
    background: #9b59b6;
}

.dark-gray {
    background: #34495e;
}

.teal {
    background: #1abc9c;
}


.selected {
    background-color: grey !important;
    color: white !important;
}

.logoff-button {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.menu-open {
}

.navigation-help {
    font-weight: bold;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #CFD8DC !important;
}

.custom-nav-tabs {
}

.custom-nav-bar {
}

.paginate_button {
    display: inline-block;
    padding: 10px;
    background: rgba(69, 90, 100, 0.74);
    color: white;
    border-radius: 2px;
    margin: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-user-select: none; /* Chrome/Safari */
}

    .paginate_button:hover {
        color: white;
        text-decoration: none;
        box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        cursor: pointer;
    }

.disabled {
    pointer-events: none;
}

.report-button {
    background-color: maroon !important;
    color: white !important;
}

.btn-irreversible {
    background-color: #EC653B !important;
}

.dataTables_length {
}

    .dataTables_length select {
        display: inline;
    }

    .dataTables_length label {
    }

.btn-reset {
    background-color: grey;
}

.btn-update {
    background-color: #E0E0E0 !important;
}

.dataTables_wrapper {
    overflow: auto;
    white-space: nowrap;
}

.datepicker {
    width:80% !important;
    float : right !important;
}
.custom-datepicker{
     border: #fff !important; 
     background-color: transparent !important; 
     text-align: center;
}
.date-icon{
    width: 20% !important;
    padding-top: 5% !important;
    height: 86%;
    background-color: #a1a1a1;
}
.vat_div {
    background-image: url("../../../../Content/images/tody-vat.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 200px;
    height: 100%;
    background-position: center;
}


@media (min-width: 1025px) and (max-width: 2000px) {

    .vertical {
        display: block;
    opacity: 0.7;
    max-width: 200px;
    height: 40px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 37%;
    right: 32%;
    }
}
@media ( min-width:600px) and (max-width: 1025px) {
    .vertical-sibling {
        display: block;
        width: 55%;
        opacity: 0.7;
        height:40px;
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        position: absolute;
        top: 39%;
        right: 22%;
    }
}

@media (min-width: 1025px) and (max-width: 2000px) {

    .vertical-sibling {
        display: block;
    opacity: 0.7;
    width: 88%;
    max-width: 200px;
    height: 40px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 39%;
    right: 10%;
}
    }
}


/*.vertical {
  box-shadow: inset 0px 4px 6px #ccc;
     opacity :0.7;
    width : 40%; 
    right : 30%;
}*/
.progress-bar {
    box-shadow: inset 0px 4px 6px #FF6D00;
}

.dashboard-link {
}



.form-group{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.editable-field{
        margin: 0px !important;
    height: 30px !important;
}

.info-section{
    background-color: rgba(76, 175, 80, 0.83);
}

.grey-section{
    background-color: rgba(128, 128, 128, 0.27);
}

#div2Intake>div {
    max-width: 149px;
}

#divStatus>div>input {
    height: 29px;
    top:-6px
}

#div2FillerOperation>div {
    max-width: 149px;
}

div#liquidTransfer-div>div:nth-child(1)>div:nth-child(2)>div
{
   max-width: 130px;
}
#div2WarehousingTo>input {
    height: 52px;
}

#liquidTransfer-div >div:nth-child(1)>div:nth-child(3) {
    padding-left: 0px;
}

#LoginInfo{
    color: rgba(0,0,0,0.87);
   font-size: 14px;
    font-weight: 500;
    float: right;
    position: absolute;
    right: 317px;
    top: 10px;
}

/* show it on small screens */
@media screen and (min-width: 0px) and (max-width: 700px) {
  #LoginInfo{ 
   display: block!important; 
   right: 20px;
  }  
}

.No3Intake .select-wrapper {
    margin-bottom: 29px;
    max-width: 149px;
}

.No3Intake .vat_div {
    margin-bottom: 18px!important;
}

.No3Intake>div:nth-child(3)>div:nth-child(1) {
   padding-top:12px;
}

.No3Intake>div:nth-child(3)>div:nth-child(5)>div:nth-child(2) {
    padding-top: 36px;
    padding-left: 35px;
}

div#div2WarehousingTo >div:nth-child(2)>span {
    padding-bottom: 0px;
    padding-top: 0px;
}

div#div2WarehousingTo >div:nth-child(2) {
   padding-bottom: 0px; 
}

div#div2WarehousingTo >div:nth-child(2)>label {
   margin-bottom: 0px; 
}
